@media only print {
  a {
    page-break-inside:avoid
  }
  blockquote {
      page-break-inside: avoid;
  }
  h1, h2, h3, h4, h5, h6 { page-break-after:avoid; 
      page-break-inside:avoid }
  img { page-break-inside:avoid; 
      page-break-after:avoid; }
  table, pre { page-break-inside:avoid }
  ul, ol, dl  { page-break-before:avoid }

  a:link, a:visited, a {
    color: hsla(0,0%,0%,0.8);
    background: transparent;
    font-weight: bold;
    text-decoration: none;
  }
  
  a {
      page-break-inside:avoid
  }

  hr {
    display: block;
    height: 1px;
    background: transparent;
    width: 100%;
    border: none;
    border-top: solid 1px #aaa;
  }
}